In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.metrics import mean_absolute_error as MAE

# Lets make 1 combined csv with 2 car makes
The plan is to binary encode the model and one hot encode the brand.
The information the future scraper will have is:
* milage (km stand)
* transmission
* build year
* power (kW)
* energy source (petrol/diesel/electric)

In [45]:
from datetime import datetime
df = pd.read_excel("Data/total.xlsx")
df.drop("guid", axis=1, inplace=True)
df["age"] = pd.to_datetime(df["age"], format="%m-%Y")
df["age"] = (datetime.now() - df["age"]).dt.days

In [46]:
df

,price,make,model,mileage,fuel_type,age,transmission
0,1750,suzuki,swift,245449,b,6319,Handgeschakeld
1,1150,alfa romeo,147,254013,b,6380,Handgeschakeld
2,14499,volkswagen,polo,68896,b,2180,Handgeschakeld
3,3999,kia,rio,161320,b,4218,Handgeschakeld
4,5995,citroen,c1,76902,b,2392,Handgeschakeld
...,...,...,...,...,...,...,...
3185,34950,toyota,land cruiser,179981,d,9485,Handgeschakeld
3186,157300,toyota,land cruiser,2837,b,840,Handgeschakeld
3187,65280,man,tge,14,d,292,Automatisch
3188,17962,fiat,talento,53885,d,2454,Handgeschakeld
3189,59835,ford,transit custom,23,d,139,Automatisch

# Prepare data for training

In [47]:
def prepare_data_label(data: pd.DataFrame, cols: list) -> pd.DataFrame:
    enc = LabelEncoder()
    for i in cols:
        data[i] = enc.fit_transform(data[i])
    return data

def prepare_data_onehot(data: pd.DataFrame, cols: list) -> pd.DataFrame:
    enc = OneHotEncoder(sparse_output=False)
    for i in cols:
        encoded_col = enc.fit_transform(data[[i]])
        encoded_df = pd.DataFrame(encoded_col, columns=enc.get_feature_names_out()).astype(int)
        data = pd.concat([data, encoded_df], axis=1)
        data = data.drop(i, axis=1)
    return data

df = prepare_data_label(df, ["model"])
df = prepare_data_onehot(df, ["fuel_type", "make", "transmission"])
# model transmission  fuelType      brand         
df

,price,model,mileage,age,fuel_type_2,fuel_type_3,fuel_type_b,fuel_type_c,fuel_type_d,fuel_type_e,...,make_tesla,make_toyota,make_triumph,make_volkswagen,make_volvo,make_xev,transmission_- Transmissie,transmission_Automatisch,transmission_Half/Semi-automaat,transmission_Handgeschakeld
0,1750,596,245449,6319,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1150,10,254013,6380,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,14499,495,68896,2180,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,3999,528,161320,4218,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5995,185,76902,2392,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,34950,427,179981,9485,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
3186,157300,427,2837,840,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3187,65280,608,14,292,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3188,17962,605,53885,2454,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3189,59835,623,23,139,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [48]:
X = df.copy()
y = X.pop("price")
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)

In [49]:
regressor = RandomForestRegressor(n_estimators=500)
regressor.fit(X_train, y_train)
yhat = regressor.predict(X_test)

In [50]:
MAE(y_true=y_test, y_pred=yhat)

9651.191366074538

In [56]:
yhat

array([  2313.382     ,  89146.726     ,  16531.446     ,   7687.896     ,
        48961.322     ,   6090.128     ,  56232.506     ,  44859.686     ,
        27617.552     ,  11182.572     ,   7184.104     ,   9791.81      ,
        17896.194     ,  20999.218     ,  51858.342     , 111214.99466667,
         2499.92      ,   2843.026     ,  21819.242     ,  20762.274     ,
        25456.898     ,   8722.1       ,   9882.174     ,   9673.68      ,
        50141.686     , 125550.37      , 182318.416     ,  13518.322     ,
        12601.092     ,  11702.058     ,  73433.474     , 113579.602     ,
         8210.268     ,   4602.356     ,  59812.628     ,  14124.638     ,
        34133.702     ,  29426.172     ,  86815.532     ,   7968.936     ,
        19214.326     ,   6487.248     ,   5931.128     ,   9644.036     ,
        22121.262     ,  14694.974     ,   5523.918     ,  22312.672     ,
        47911.574     ,   4721.404     ,  22454.326     ,  46029.766     ,
         7349.06      ,  12829.63      ,  22179.676     ,  42810.114     ,
        55277.124     ,  14436.538     ,  36594.368     ,  48063.616     ,
        13171.342     ,  21328.198     , 117542.39      ,   7280.514     ,
        36421.41      ,   2899.364     ,  26978.338     ,   9698.968     ,
        33183.21      ,  10004.348     ,  10340.916     ,   2805.102     ,
        20575.538     ,  42242.702     ,   4785.77      ,  35560.928     ,
         9060.928     ,   8083.384     , 236222.264     ,   4566.44      ,
         9100.26      ,   6165.186     ,   5972.914     ,  40573.54      ,
        16660.826     ,  26019.196     ,  10783.3       ,  11170.042     ,
        26821.29      ,  39404.352     ,  30527.358     ,  34344.352     ,
        22237.872     ,  34913.446     ,   6607.454     ,  11523.564     ,
         9279.346     ,  21952.966     ,  39012.828     ,  16622.936     ,
         4835.142     ,  25971.786     ,  10374.614     ,  15853.224     ,
         8940.944     ,  36810.65      ,  11524.962     ,  18147.324     ,
        14084.704     ,  17129.28      ,  24181.364     ,   5851.132     ,
        77038.568     ,   3911.5       ,  33391.848     ,  19409.258     ,
        17530.214     ,  24804.998     ,   5260.202     ,   3479.942     ,
         9740.866     ,  68272.208     ,   4169.686     ,  23266.288     ,
         9184.674     ,  20532.494     ,  99365.124     ,  19326.846     ,
        30989.058     ,  14614.472     ,  10386.472     ,  57600.942     ,
         3032.294     ,  14698.176     , 110648.138     ,  23042.72      ,
        27911.262     ,   7785.488     ,  34746.804     ,  36827.644     ,
        14453.79      ,  47958.612     ,  32239.288     ,  15785.886     ,
        12081.584     ,  25964.024     ,  10449.696     ,  13863.51      ,
         6607.316     ,   8238.984     ,  20172.396     ,  56757.452     ,
        76554.282     ,   8197.894     ,   7440.498     ,   4774.328     ,
         9532.75      ,   6478.582     ,  30706.756     ,  20534.792     ,
         7456.838     ,  49282.76      ,  23401.596     ,  73913.622     ,
         4929.524     ,  22866.68      ,  26288.016     ,  19099.672     ,
        31187.218     ,  12398.034     , 245064.404     ,   3179.662     ,
        18921.094     ,   3180.17      ,   5062.878     ,  73994.424     ,
         9052.682     , 315564.436     , 145314.06      ,   7812.73      ,
       141331.752     ,  59108.77      ,  32558.666     , 138694.412     ,
        14863.71      ,   2870.896     ,   9090.336     , 252335.14      ,
        25569.994     ,  45280.656     ,  26333.538     ,  10232.992     ,
        57694.92      ,  49245.044     ,  10104.766     ,  21011.426     ,
        47031.464     ,   7515.468     ,  14252.134     ,  44875.352     ,
        15741.334     ,   6977.778     ,  26384.09      ,  15796.386     ,
        63196.276     ,  11868.308     ,  33435.504     ,  40465.822     ,
        71498.592     ,   8273.068     ,   7095.74      ,  13913.49      ,
        21554.144     , 175750.848     ,  44185.36      ,  20351.53      ,
         5492.534     ,  17826.424     ,   9022.46      ,   4497.808     ,
        28975.974     ,   4355.374     ,  21911.4       ,   4557.87      ,
        28420.104     ,  15709.966     ,   8355.6       ,   3690.022     ,
        36082.67      ,  72109.348     ,  61540.544     ,  17411.496     ,
        43557.896     ,  25312.564     ,  19466.234     ,  51924.844     ,
         8413.624     ,  76286.596     ,  11922.884     ,  11236.032     ,
       100189.94266667,   7088.814     ,   3884.158     ,   5753.534     ,
        14786.73      ,  13931.076     ,  22956.828     ,   7417.994     ,
        12365.174     ,   8108.424     ,   4805.12      ,   2737.424     ,
        29656.334     ,   6110.43      ,  11609.868     ,   9862.062     ,
        25038.79      ,   2236.946     ,   5696.602     ,  25209.218     ,
        19885.796     , 137127.816     ,  89328.098     ,  42931.004     ,
        17683.128     ,   5038.662     ,   6725.766     ,  12856.938     ,
        92652.392     ,   5388.078     ,  26503.834     , 191719.21733333,
        17780.292     ,  18572.792     ,   7707.466     , 117353.576     ,
         5092.994     ,   3872.464     ,  46402.31      ,  23016.264     ,
        30151.202     ,   8917.508     ,   6829.252     ,   4602.356     ,
        27731.568     ,  12656.114     ,   4532.178     ,  18750.924     ,
        52995.522     ,  33641.05      ,   7900.286     ,  15477.21      ,
        12363.944     ,  18376.706     ,  11297.4       ,   1691.482     ,
        11112.584     ,  47699.318     ,   7155.096     ,  27576.548     ,
        21858.898     ,  30191.542     ,   9076.508     ,   2886.358     ,
        13042.872     ,   7981.106     ,   5455.44      ,  13430.662     ,
        14081.314     ,  18178.944     , 207111.432     ,  37468.772     ,
        58032.442     ,   7512.422     ,  15842.67      ,  18294.738     ,
        54462.734     ,  12228.486     ,  13969.928     ,  13807.36      ,
        24175.118     ,  58384.244     ,  73536.82      ,   9022.21      ,
        44122.176     ,   3943.742     ,   4403.108     ,  18313.514     ,
        25258.042     ,   5297.756     ,  73811.31      ,   6877.946     ,
         4956.394     ,   8875.494     ,  16315.878     ,  47304.428     ,
         3043.03      ,  60846.772     ,  12998.26      ,   7299.028     ,
        16431.724     ,  14155.774     ,  27619.984     ,   5784.79      ,
         9106.3       ,   8168.082     ,  27738.772     ,  35800.074     ,
         9469.398     ,   2907.216     ,  14511.64      ,  50587.316     ,
        39416.25      , 515361.784     ,  37121.598     ,   8672.328     ,
         5933.846     ,  35146.054     ,  10105.9       ,   8386.432     ,
         4067.482     ,  56296.062     ,  13934.862     ,  14775.846     ,
        35941.648     ,  79540.496     ,  26690.412     ,  14209.796     ,
       238032.324     ,  49458.878     ,   2185.138     ,  33424.666     ,
        35032.348     ,  22658.924     ,   5267.708     ,   5800.078     ,
        40083.926     ,  17901.148     ,   3448.75      ,  47041.402     ,
        12245.362     ,  25432.808     ,   4679.826     ,   6470.92      ,
        24726.386     ,  31944.414     ,  19928.392     ,  26792.514     ,
        79101.19      ,  22008.71      ,   5494.526     ,  24770.226     ,
         8528.322     ,   6735.802     , 102052.124     ,  13984.622     ,
        27341.068     ,   6002.66      ,  12692.672     ,  37695.498     ,
        17004.202     ,  14635.956     ,  25213.354     ,  25841.856     ,
         3962.656     ,  15225.542     ,  45408.494     ,  12314.352     ,
        22751.872     ,  18463.01      ,  20678.346     ,  29189.846     ,
        16270.702     ,  33468.364     ,  30925.464     ,   4584.784     ,
         8302.714     ,  15911.818     ,  24353.202     ,   8838.804     ,
         4287.796     ,  15675.544     ,  30299.158     ,  18737.852     ,
         4379.658     ,   8606.48      ,   7281.66      ,  14350.326     ,
        68503.33      ,  18522.73      ,  38982.592     ,   6086.184     ,
        15789.488     ,   4024.236     ,  10750.974     ,  24098.048     ,
         2760.516     ,  17653.27      ,   5162.714     ,  21111.688     ,
        30191.542     ,   3305.55      ,  12695.286     ,  95061.914     ,
       100990.746     ,  93537.888     ,   7634.246     ,  39941.718     ,
         9041.978     ,   2432.36      ,   2778.632     ,   3566.304     ,
        17497.182     ,   6391.356     ,  13015.592     , 241114.506     ,
        17669.696     ,  18125.416     ,  16168.77      ,  34420.56      ,
        57853.67466667,   9026.866     ,  18917.842     ,   5286.474     ,
        37392.492     ,  22160.672     ,   8495.126     ,   7910.386     ,
        12278.624     ,  80799.386     ,  36663.586     ,  25495.624     ,
        12428.016     ,  43391.304     ,  46895.038     ,   4439.494     ,
       315062.492     ,  13193.968     ,  22760.632     ,  20175.204     ,
        34912.714     ,  24567.252     ,   5382.428     ,  14492.3       ,
         6619.458     ,   9482.47      ,  17026.93      ,  31499.572     ,
        15414.894     ,   2713.914     ,  22509.146     ,  72893.056     ,
        10447.052     ,   3829.442     ,  26137.354     , 110971.96      ,
        36365.082     ,   2889.322     ,   5267.652     ,  12681.258     ,
         8929.824     ,   6094.282     ,  15767.038     ,   6101.468     ,
         7213.698     ,  23990.136     ,  72840.704     ,   2799.618     ,
        15089.614     ,  14970.392     ,  16888.532     ,  99141.906     ,
         2834.492     ,   9607.022     ,   6058.374     ,   6326.182     ,
        13439.206     ,  17456.568     ,   8255.58      ,  48024.3       ,
         4936.558     ,  11420.616     ,  23466.262     ,   6368.008     ,
         4924.948     ,  28617.43      ,  34729.37      ,   3426.55      ,
        32193.982     ,  15792.9       ,  14020.038     ,  18913.8       ,
        40955.758     ,  17530.214     ,  68946.67      ,  28716.178     ,
        14159.364     ,  26640.702     ,  33755.76      ,  14961.278     ,
        14527.68      ,  44645.06      ,   7727.19      ,  27542.298     ,
        55530.66      ,   2409.488     ,   7604.634     ,  14604.434     ,
         5864.16      ,  11879.772     ,  17085.708     ,  26228.848     ,
        26105.392     ,  73672.79      ,  21141.018     ,  10429.662     ,
         5931.128     ,  28106.018     ,  17085.108     ,   5943.038     ,
         5584.308     ,   4247.564     ,   2137.4       ,  11430.538     ,
         5176.086     ,  54888.418     ,  25845.428     ,   9394.902     ,
         9885.662     ,   2513.206     , 137939.336     ,   5729.564     ,
         6113.586     ,  15987.672     ,  25513.364     ,   2308.21      ,
         8809.01      ,  14681.182     ,   6633.642     ,  23189.19      ,
         2342.796     ,  32734.78      ,   8848.474     ,  20247.284     ,
        14675.238     ,  37423.5       ,   4557.194     ,  24229.146     ,
        22465.128     ,  13897.322     ,   3234.634     ,  54879.098     ,
        31583.536     ,   2262.6       ,  42105.7       ,  42292.202     ,
         8428.662     ,  26372.254     ,   5435.102     ,   8564.794     ,
         7348.252     ,   7286.558     ,  12958.896     ,  12693.386     ,
        26135.        ,  17403.782     ,   7380.26      ,   6805.85      ,
         3830.072     ,  48109.63      ,  38884.89      ,  12240.71      ,
        88797.156     ,   2634.666     ,  21261.03      ,  11413.794     ,
        55977.48      ,  23338.29      ,  14492.522     ,  27296.486     ,
        11108.768     ,   8551.654     ,   7271.39      ,  91369.05955556,
        16281.988     ,  14182.132     ,   9598.136     ,  39912.458     ,
         5479.312     ,  11072.562     ,  15384.112     ,   7648.424     ,
        30948.42      ,   5080.58      ,   5267.652     ,   1439.29      ,
         5176.79      ,   6287.274     ])

In [181]:
X_test.iloc[2:4,:]

,year,mileage,tax,mpg,engineSize,fuelType_Diesel,fuelType_Electric,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,...,model_ X2,model_ X3,model_ X4,model_ X5,model_ X6,model_ X7,model_ Z3,model_ Z4,model_ i3,model_ i8
8809,2017,42069,20,68.9,2.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13128,2017,17880,20,58.9,1.6,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [182]:
y_test[2:4]

8809     12988
13128    13882
Name: price, dtype: int64

In [183]:
regressor.predict(X_test.iloc[2:4,:])

array([12752.20133333, 13999.61      ])

In [1]:
import psycopg

In [9]:
with psycopg.connect("postgresql://postgres:example@172.18.45.234:5432/postgres") as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT * FROM cars')
        rows = cur.fetchall()
        for record in rows:
            print(record)

UndefinedTable: relation "cars" does not exist
LINE 1: SELECT * FROM cars
                      ^